bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.LogiCommerce/.idea/encodings.xml
.idea/.idea.LogiCommerce/.idea/indexLayout.xml
.idea/.idea.LogiCommerce/.idea/vcs.xml
.DS_Store
.idea/.idea.LogiCommerce/.idea/projectSettingsUpdater.xml
.idea/.idea.LogiCommerce/.idea/workspace.xml
